.accordion-button {
  display: flex;
  column-gap: 10px;
  align-items: baseline;
  border-bottom: 1px solid #eeeeee;
  padding: 10px 0px;
}

.accordion-button-title {
  width: calc(100% - 50px);
}

.accordion-button-icon {
  margin-top: 5px;
}

.accordion-button-icon[data-active="true"] {
  rotate: 180deg;
}

.accordion-pannel {
  padding: 20px 0px;
  border-bottom: 1px solid #eeeeee;
}
